body{
    background-color:#A6CFD5 ;
}

header{
    background-color: blueviolet;
}

h1 {
    text-align: center;
    color: #0B2740;
    text-shadow: 1px 1px 1px black;
}
nav{
    background-color: #0F084B;
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav li{
    display: inline-block;
}
nav li a {
    background-color: #26408B;
    color: #0F084B;
    height: 25px;
    line-height: 30px;
    margin-top: 5px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 8px;
    padding: 2px;
}

nav li a :hover{
    background-color: #0492c2;
}

main h2, main h3, footer{
    color:#0D0221;
    text-align: center;
}

footer{
    background-color:white;
    color:#0D0221;
    padding: 40px;
    margin-top: 10px;
    border-radius: 10px;
}

/*Tablet Css*/
@media (min-width: 768px) {
    nav li{
        display: inline-block;
        border: 0;
    }

    nav li a{
        width: 150px;
        margin: 0 5px;
        border-radius: 10px;
        border: 2px solid black;
    }

    nav li a:hover {
        background-color: tomato;
    }
    main{
        display:flex;
    }

    section, aside {
        padding: 30px;
        margin: 10px;
        border: 2px solid black;
        border-radius: 10px;
        text-align: justify;
    }
    
} 

/*Desktop Version*/
@media (min-width: 1024px) {
    body{
        background-color: #26408B;
    }

    h1{
        text-align: center;
        color:darkmagenta;
    }

    #main_area {
        display: flex;
    }

    section, aside {
        margin: 10px;
        border: 4px solid #c8b6ff;
        border-radius: 10px;
    }
}

